.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 30rem;

}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}

.input input:focus {
    outline: none;
    border-color: #887cfd;
    box-shadow: 0 0 2rem #0ee984;
}