* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: linear-gradient(rgba(123, 158, 218, 0.8), rgb(6 63 179 / 80%)) no-repeat center center fixed;
}

body {
  margin: 0;
}
